/* Navbar */
.navbar {
  background-color: #818182; /* Set your desired background color */
}

.navbar-brand {
  color: #222121; /* Set text color for brand */
  font-weight: bold; /* Optionally adjust font weight */
}

.navbar-nav .nav-link {
  color: #2d2d2d; /* Set text color for links */
}

.navbar-nav .nav-link:hover {
  color: #2d2c2c; /* Set text color for links on hover */
}

/* Footer */
footer {
  background-color: #d5d5d8; /* Set your desired background color */
  padding: 125px 0; /* Adjust padding as needed */
}

footer p {
  color: #171818; /* Set text color */
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: #3e1515;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.foothead h6 {
  color: #434343; /* Set color for footer heading */
}

.list-items a {
  color: #2b2c2c; /* Set text color for links */
}

.list-items a:hover {
  color: #343434; /* Set text color for links on hover */
}
